{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        ring/ring-core {:mvn/version "1.15.5"}
        ring/ring-jetty-adapter {:mvn/version "1.15.5"}
        hiccup/hiccup {:mvn/version "2.0.0"}
        cheshire/cheshire {:mvn/version "6.2.0"}
        lilactown/helix {:mvn/version "0.2.2"}}
 :aliases
 {:dev {:main-opts ["-m" "clojure-ring-app.core"]}
  :cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.28.23"}}
         :main-opts ["-m" "shadow.cljs.devtools.cli"]}}}
